@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Poppins:wght@700&display=swap");

h1,
h2 {
  font-family: "Poppins", sans-serif;
  font-size: 25px;
}

span,
p {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
}

body {
  margin: 0rem;
  padding: 0rem;
  height: 100vh;
  width: 100%;
}

.head {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 2rem;
}

.huddlee {
  width: 30%;
}

.free {
  border: 0.1rem solid hsl(321, 100%, 78%);
  color: hsl(321, 100%, 78%);
  border-radius: 3rem;
  outline: none;
  background-color: transparent;
  font-size: 12px;
  padding: 2px;
  width: 5rem;
}

.intro {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 0rem 2rem;
}

.parrafo {
  padding: 0rem 0.3rem;
}

.getstarted {
  border-radius: 2rem;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  padding: 10px 20px;
  width: 12rem;
}

.screen {
  width: 100%;
  padding: 4rem 0rem;
}

.cifras {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 5rem;
}

.item2 {
  font-size: 45px;
  margin: 0px;
  color: hsl(192, 100%, 9%);
  font-family: "Open Sans", sans-serif;
}

.item1 {
  width: 25%;
  position: relative;
  right: 3.5rem;
}

.item3 {
  color: gray;
}

.imgtop1 {
  height: 112px;
  background-image: url(images/bg-section-top-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.grow {
  background-color: rgba(246, 251, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 0rem 2rem;
  height: 33rem;
}

.imgtop2 {
  height: 60px;
  background-image: url(images/bg-section-bottom-mobile-1.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.conversation {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  text-align: center;
  padding: 2rem 2rem;
  padding-bottom: 5rem;
  height: 30rem;
}

.imagen {
  padding-bottom: 4rem;
}

.user {
  background-color: rgba(246, 251, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 0rem 2rem;
  height: 33rem;
}
.bottom1 {
  height: 103px;
  background-image: url(images/bg-section-top-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.bottom2 {
  height: 120px;
  background-image: url(images/bg-section-bottom-mobile-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.comunity {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
  padding-bottom: 10rem;
}

.footer {
  height: 51px;
  background-image: url(images/bg-footer-top-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0rem;
}

.bajo {
  background-color: rgba(0, 37, 46, 255);
  width: 100%;
}

.newsletter {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0rem 2rem;
  padding-bottom: 4rem;
  color: hsl(207, 100%, 98%);
  margin: 0rem;
}

.input {
  border: none;
  background-color: hsl(207, 100%, 98%);
  border-radius: 0.3rem;
  width: 100%;
  height: 2.5rem;
}

.input1 {
  color: rgba(0, 37, 46, 255);
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.subscribe {
  border-radius: 0.3rem;
  border: none;
  background-color: hsl(322, 100%, 66%);
  color: hsl(207, 100%, 98%);
  padding: 10px 20px;
  width: 8rem;
}

.info {
  display: flex;
  flex-direction: column;
  padding: 0rem 2rem;
  color: hsl(207, 100%, 98%);
  margin: 0rem;
}
.huddle {
  width: 60%;
  padding-bottom: 1rem;
}

.imgp {
  width: 8%;
  position: relative;
  bottom: -1.2rem;
}

.redes {
  padding-top: 2rem;
  padding-bottom: 2rem;
  margin: 1rem 0rem;
  display: grid;
  grid-template-columns: 2rem 2rem 2rem;
  column-gap: 1rem;
}

.redes2 {
  background-color: hsl(207, 100%, 98%);
  width: 2rem;
  height: 2rem;
  border-radius: 0.2rem;
  display: grid;
  align-items: center;
  justify-items: center;
}

.imagenesb {
  width: 85%;
}

.imagenesf {
  width: 55%;
}

/* -------------------------- Hovers  ---------------------- */

.free:hover {
  cursor: pointer;
  opacity: 60%;
}

.getstarted:hover,
.subscribe:hover {
  cursor: pointer;
  background-color: hsl(321, 100%, 78%);
}

.input:hover {
  cursor: pointer;
  border: 0.1rem solid hsl(0, 100%, 63%);
}

.redes2:hover {
  background-color: rgb(110, 195, 255);
  cursor: pointer;
}

.input1:hover {
  cursor: pointer;
  color: hsl(0, 100%, 63%);
}

/* -------------------------- Media  ---------------------- */

@media (min-width: 426px) {
  h1,
  h2 {
    font-size: 30px;
  }

  span,
  p {
    font-size: 15px;
  }

  .head {
    padding: 4rem 2rem;
  }

  .huddlee {
    width: 20%;
  }

  .intro {
    padding: 0rem 4rem;
  }

  .parrafo {
    padding: 0rem 6rem;
  }

  .imgtop1 {
    height: 165px;
    background-image: url(images/bg-section-top-desktop-1.svg);
  }

  .grow {
    justify-content: center;
    padding: 0rem 4rem;
    height: 48rem;
    gap: 1rem;
  }

  .grow1 {
    text-align: center;
  }

  .imgtop2 {
    height: 140px;
    background-image: url(images/bg-section-bottom-desktop-1.svg);
  }

  .conversation {
    flex-direction: column;
    justify-content: none;
    padding: 8rem 4rem;
    height: 46rem;
  }

  .conversation1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .imagen {
    padding-bottom: 0rem;
  }
  .bottom1 {
    height: 156px;
    background-image: url(images/bg-section-top-desktop-2.svg);
  }

  .user {
    flex-direction: column;
    justify-content: center;
    height: 56rem;
  }

  .user1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .bottom2 {
    height: 140px;
    background-image: url(images/bg-section-bottom-desktop-2.svg);
  }

  .comunity {
    padding-top: 4rem;
  }

  .footer {
    height: 157px;
    background-image: url(images/bg-footer-top-desktop.svg);
  }

  .newsletter {
    padding: 4rem;
  }

  .info {
    padding: 4rem;
  }

  .huddle {
    width: 40%;
  }

  .imgp {
    width: 4%;
  }
}

@media (min-width: 1330px) {
  h1,
  h2 {
    font-size: 35px;
  }

  span,
  p {
    font-size: 16px;
  }

  .head {
    padding: 4rem 3rem;
    align-items: none;
  }
  .huddlee {
    width: 15%;
  }

  .free {
    font-size: 16px;
    padding: 0.5rem;
    width: 8rem;
  }

  .titulo {
    padding-top: 4rem;
  }

  .parrafo {
    padding: 0rem 24rem;
  }

  .getstarted {
    margin-top: 1rem;
  }

  .screen {
    width: 80%;
  }

  .cifras {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 12rem;
    padding-top: 8rem;
    padding-bottom: 8rem;
  }

  .item2 {
    font-size: 55px;
  }

  .top1 {
    width: 100%;
    position: relative;
    bottom: -1rem;
  }
  .imgtop1 {
    height: 165px;
    background-image: url(images/bg-section-top-desktop-1.svg);
  }

  .grow {
    flex-direction: row-reverse;
    justify-content: center;
    padding: 0rem 4rem;
    height: 38rem;
    gap: 1rem;
  }

  .grow1 {
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    padding-right: 8rem;
  }

  .imgtop2 {
    height: 140px;
    background-image: url(images/bg-section-bottom-desktop-1.svg);
  }

  .conversation {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    text-align: center;
    padding: 10rem 4rem;
    height: 35rem;
    gap: 2rem;
  }

  .conversation1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
  }

  .span1 {
    padding-right: 5rem;
  }

  .imagen {
    padding-bottom: 0rem;
  }

  .bottom1 {
    height: 156px;
    background-image: url(images/bg-section-top-desktop-2.svg);
  }

  .user {
    flex-direction: row-reverse;
    justify-content: center;
    text-align: center;
    padding: 0rem 4rem;
    height: 38rem;
  }

  .user1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding-right: 2rem;
  }

  .bottom2 {
    height: 140px;
    background-image: url(images/bg-section-bottom-desktop-2.svg);
  }

  .footer {
    height: 157px;
    background-image: url(images/bg-footer-top-desktop.svg);
  }

  .bajo {
    background-color: rgba(0, 37, 46, 255);
    width: 100%;
    padding: 8rem 0rem;
    display: flex;
    flex-direction: row-reverse;
  }

  .newsletter {
    padding: 4rem;
    padding-bottom: 4rem;
  }

  .input1 {
    color: rgba(0, 37, 46, 255);
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  .subscribe {
    width: 10rem;
    height: 2.5rem;
  }

  .info {
    display: flex;
    flex-direction: column;
    padding: 4rem;
  }
  .huddle {
    width: 45%;
    padding-bottom: 1.5rem;
  }
}

/* # Front-end Style Guide

## Layout

The designs were created to the following widths:

- Mobile: 375px
- Desktop: 1440px

## Colors

### Primary

- Pink: hsl(322, 100%, 66%)
- Light Pink: hsl(321, 100%, 78%)
- Light Red: hsl(0, 100%, 63%)

### Neutral

- Very Dark Cyan: hsl(192, 100%, 9%)
- Very Pale Blue: hsl(207, 100%, 98%)

## Typography

### Headings

- Family: [Poppins](https://fonts.google.com/specimen/Poppins)
- Weights: 700

### Body

- Family: [Open Sans](https://fonts.google.com/specimen/Open+Sans)
- Weights: 400, 600, 700

## Icons

For the social icons, you can use a font icon library. Some suggestions can be found below:

- [Font Awesome](https://fontawesome.com/)
- [IcoMoon](https://icomoon.io/)
- [Ionicons](https://ionicons.com/) */
